body{
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #B2AC88;
}
select{
    width: 160px;
    border-radius: 10px;
    
}
.btn{
    display: flex;
    justify-content: center;
}
button{
  
    margin:0.5em;
    border-radius:10px;
    background-color:pink;
    cursor: pointer;
}
#input,#result{
   border-radius: 10px;
}
.box{
    padding: 10px;
}
.main{
    background-color: orange;
    padding: 10px;
    height: 30vh;
    margin: 100px;
}
h1{
    text-align: center;
}